<!-- Modal -->
<div class="modal-backdrop in"></div>
<div class="modal fade user-modal-dialog" tabindex="-1" role="dialog" aria-labelledby="user-modal-dialog-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >{{::permissionsModalDialog.modalTitle}}</h4>
      </div>
      <div class="modal-body">
        <form name="permissionsModalDialog.permissionsForm">
          <div class="form-group" ng-repeat="permission in permissionsModalDialog.user.permissions"            
            <label>{{::permission.name}}</label>
            <select class="form-control" multiple                 
              ng-model="permission.areas"
              ng-options="area.name for area in permissionsModalDialog.areas track by area.id"
            ></select>
          </div>                      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="permissionsModalDialog.saveUserData()">Save</button>
      </div>
    </div>
  </div>
</div>
