<div class="users-sorting">
  <div class="dropdown users-sorting-tool">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Sorted by {{usersSorting.selectedField}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="field in usersSorting.fields">
        <a href="#" ng-click="usersSorting.selectField(field)">{{::field}}</a>
      </li>
    </ul>
  </div>
  <button type="button" class="btn btn-default users-sorting-tool users-order-button" ng-click="usersSorting.changeReverseMode()">
    <span class="glyphicon glyphicon-arrow-down" ng-if="!usersSorting.sortInReverseMode"></span>
    <span class="glyphicon glyphicon-arrow-up" ng-if="usersSorting.sortInReverseMode"></span>
  </button>
</div>
