.users-sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.users-sorting .users-sorting-tool {
  margin-right: 1rem;
  flex: 0 0 auto;
}

.users-sorting .users-order-button {
  margin-right: 0;
  margin-left: 1rem;
}
