<div href="#" class="list-group-item user-list-item" ng-class="{'is-user-inactive': !userItem.user.active}">
  <div class="list-group-item-heading row">
      <div class="col-md-3"><strong>Name:</strong> {{userItem.user.name}}</div>      
      <div class="col-md-3"><strong>CAI:</strong> {{userItem.user.cai}}</div>
      <div class="col-md-3">
        <label><input type="checkbox" ng-model="userItem.user.active">Active</label>
      </div>
  </div>
  <div class="list-group-item-text row">
    <h4 class="user-permissions-block-title">Permissions:</h4>
    <div class="user-permissions-block row">
      <div class="col-md-9">
        <span ng-repeat="permission in userItem.user.permissions | filter : permission.active track by $index">
          <strong ng-if="permission.areas.length > 0">{{::permission.name}}:</strong>
          <span class="permissions-areas" ng-repeat="area in permission.areas">{{::area.name}}{{$last ? ';' : ','}}</span>
        </span>
      </div>
      <div class="col-md-3">
        <a href="#" class="edit-user-permissions right"
          modal-title="Edit User Permission"
          user-modal-dialog user="userItem.user">Edit permissions</a>
      </div>
    </div>
  </div>
</div>
