.user-list-item {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  padding: 0 2rem;
}

.user-list-item .row > div {
  margin: 0.5rem 0;
  padding: 0;
}

.user-list-item .permissions-areas {
  font-style: oblique;
}

.user-list-item .row .user-permissions-block {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1rem;
}

.user-list-item .row .user-permissions-block-title {
  margin: 0;
}

.user-list-item.is-user-inactive {
  background: #eee;
}

.highlight-match {
  background-color: yellow;
}
