.users-list-component {
  font-family: 'Nunito', sans-serif;
  position: relative;
  margin: 2rem auto;
  width: 55rem;
}

.users-list-tools-panel .row > div {
  margin: 0.4rem 0;
}

.relative {
  position: relative;
}
.width50 {
  width: 50%;
}
.left {
  float: left;
}
.right {
  float: right;
}
