<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-default" permissions-modal-dialog modal-title="Add User">Add User</button>
      </div>
      <div class="col-md-4">
        <users-sorting
          selected-field="usersList.selectedField"
          fields="usersList.fields"
          sort-in-reverse-mode="usersList.sortInReverseMode"
          ></users-sorting>
      </div>
      <div class="col-md-4">
        <user-search search-query="usersList.searchQuery"></user-search>
      </div>
    </div>
  </div>
</div>
<div class="list-group">
  <user-item
    ng-repeat="user in usersList.getListOfUsers() | orderBy : usersList.selectedField : usersList.sortInReverseMode track by $index" user="user">
  </user-item>
</div>
